@model IEnumerable<PineLinks.Models.UserModel>
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">

<div style="padding-top: 8em">

    <div class="row">
        <div class="col-md-6" style="float:left">
            <center>
                <img src="/Logo1.png" style="height: 500px; width: 500px">
            </center>

        </div>

        <div class="col-md-6" style="float: right; padding-top: 6em; color:black">
            <h1 class="burh" style="font-size:400%; font-family:'Fredoka One'">All your bio links <br /> in one single <br /> place</h1>
            <br />
            <p style="font-size: 150%; font-family: 'Fredoka One'">Register now and create your own link tree</p>
            <a class="btn btn-danger" asp-action="Index" asp-controller="Register">Create your account here !!</a>
        </div>
        
    </div>
</div>

<center>
    <div style="padding-top: 2em"> 
        <h2 style="align-content:center">Search for other people's link trees</h2>
    </div>
</center>

<div>
    @foreach (var itemm in Model)
        {
        <img src="@itemm.ImageInString">
        @if (itemm.ImageInBytes != null)
        {
            var base64 = Convert.ToBase64String(itemm.ImageInBytes);
            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
            <img src="@itemm.ImageInString">
        }
        }
</div>

<div style="padding-top: 5em">
    <div>
        @foreach (var item in Model)
        {
            <div style="display: inline-block; margin-left:20px">
                <div class="card border-dark mb-3" style="max-width: 30rem; min-width:20rem">
                    <div class="card-header"><h1>@item.Name</h1></div>
                    <div class="card-body">
                        <a class="btn btn-secondary" asp-action="Index" asp-controller="Profile" asp-route-id="@item.Name">Check it out !!</a>
                        
                        @if(item.ImageInBytes != null){
                            var base64 = Convert.ToBase64String(item.ImageInBytes);
                            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                            <img src="@imgsrc">
                        }
                           
                        
                    </div>
                </div>
            </div>
        }
    </div> 
</div>

<style>
    
     body {
         background-color: #e5f9e0;
     }

     label {
         font-family: 'Fredoka One';
     }

     h2 {
         font-family: 'Fredoka One';
     }

     h1 {
         font-family: 'Fredoka One';
     }

     p {
         font-family: 'Fredoka One';
     }

     a {
         font-family: 'Fredoka One';
     }

     button {
         font-family: 'Fredoka One';
     }

     input {
         font-family: 'Fredoka One';
     }
</style>
