@model IEnumerable<PineLinks.Models.LinkModel>
@{
    ViewBag.Title = "Edit Profile Page";

}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">

<div>
    <center>
        <h1>This is edit page for @ViewData["ProfileUserName"]'s link tree</h1>
        <a class="btn btn-danger" asp-action="AddLink" asp-controller="Link" asp-route-id="@ViewData["ProfileUserName"].ToString()">Create new link !</a>
        <a class="btn btn-danger" asp-action="EditPfp" asp-controller="Profile" asp-route-id="@ViewData["ProfileUserName"].ToString()">Change your profile picture</a>
        <table class="table">
            <thead>
                <tr>

                    <th>
                        <p>Link Id</p>
                    </th>
                    <th>
                        <p>Owner Name</p>
                    </th>
                    <th>
                        <p>Link Label</p>
                    </th>
                    <th>
                        <p>Link Url</p>
                    </th>
                    <th>
                        <p>Edit Settings</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.LinkId
                        </td>
                        <td>
                            @item.OwnerName
                        </td>
                        <td>
                            <p>@item.LinkLabel</p>
                        </td>
                        <td>
                            <a href="@item.LinkUrl">@item.LinkUrl</a>
                        </td>
                        <td>
                            @Html.ActionLink("Edit Link", "EditLink", "Link", new {  id=item.OwnerName  })
                            @Html.ActionLink("Delete Link", "DeleteLink","Link", new {  id=item.OwnerName+"!"+item.LinkId  })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </center>
</div>

<style>
    body {
        background-color: #e5f9e0;
    }

    label {
        font-family: 'Fredoka One';
    }

    h2 {
        font-family: 'Fredoka One';
    }

    h1 {
        font-family: 'Fredoka One';
    }

    p {
        font-family: 'Fredoka One';
    }

    a {
        font-family: 'Fredoka One';
    }

    button {
        font-family: 'Fredoka One';
    }

    input {
        font-family: 'Fredoka One';
    }
</style>
