@model IEnumerable<PineLinks.Models.LinkModel>
@{
    ViewBag.Title = "Profile Page";

}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">

<div>
    @if (User.Identity.Name == ViewData["ProfileUserName"].ToString())
    {
        <center>
            <div style="margin-bottom:20px">
                <a class="btn btn-danger" asp-action="Edit" asp-controller="Profile" asp-route-id="@ViewData["ProfileUserName"].ToString()">Edit your profile</a>
            </div>
        </center>
    }else{

    }
</div>

<center>
    <h1>This is @ViewData["ProfileUserName"]'s link tree</h1>



</center>

<div class="border-top">
    <h1>Links</h1>
    <center>
         @foreach (var item in Model)
         {
            <div class="card border-dark mb-3" style="max-width: 20rem;">
                <div class="card-header"><h1>@item.LinkLabel</h1></div>
                    <div class="card-body">
                    <a href="@item.LinkUrl">@item.LinkUrl</a>
                </div>
            </div>
         }
    </center>
</div>

<div class="border-top">
    <h1>Notes</h1>
</div>



<style>
    body {
        background-color: #e5f9e0;
    }

    label {
        font-family: 'Fredoka One';
    }

    h2 {
        font-family: 'Fredoka One';
    }

    h1 {
        font-family: 'Fredoka One';
    }

    p {
        font-family: 'Fredoka One';
    }

    a {
        font-family: 'Fredoka One';
    }

    button {
        font-family: 'Fredoka One';
    }

    input {
        font-family: 'Fredoka One';
    }
</style>
